.img_wrap{
    border: 1px solid #ddd;
    /* width: 300px;
    height: 226px; */
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.img_wrap img{
    /* width: 100%; */
    transition-duration: 0.5s;
}
.img_wrap:hover img{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
