{% extends "testapp/base.html" %}
{% block content %}

<section class="container">

  <div class="columns features" style="display: flex; overflow-x: scroll;">
    {% for info in userinfo %}

    <a href="#modal{{info.slug}}">
      <div class="column is-4">
        <div class="card is-shady img_wrap">
          <div class="card-image">
            <figure class="image is-4by3 ">
              <img
                src="{{ MEDIA_URL }}{{info.picture}}"
                alt="Placeholder image">
            </figure>
          </div>

          <!-- 名刺の内容 -->
          <div class="card-content">
            <div class="content">
              <h4>{{info.user_name}}</h4>
              <p>会社 : {{info.company_name}}</p>
              <p>メール : {{info.mail_address}}</p>
              <p>コメント : {{info.test_empty}}</p>
              <div style="display: flex;justify-content: space-between;">

                <a href="{% url 'user_detail' info.slug %}"></a>

                <span>
                  <label class="checkbox" style="margin-top: 13px;">
                    <input id="{{info.slug}}" type="checkbox"
                      style="accent-color: #f00;"
                      onclick="test('{{info.slug}}');">
                    お気に入り
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <script>
      
      // DB情報→チェックボックスの更新
      checkbox = document.getElementById("{{info.slug}}");
      console.log("checkbox"+checkbox);
      flg = "{{info.test_flg}}";
      console.log("flg"+flg)
      if(flg == "True"){
        checkbox.checked = true;
      }else{
        checkbox.checked = false;
      }
      
    </script>

    <!-- モーダルの中身 -->
    <div id="{{info.user_name}}">
      <div class="modal" id="modal{{info.slug}}">
        <a href="#!" class="overlay"></a>
        <div class="modal-wrapper">
          <div class="modal-contents">
            <a href="#!" class="modal-close">✕</a>
            <div class="modal-content">

              <div class="card-image image-width">
                <figure class="image is-4by3">
                  <img
                    src="{{ MEDIA_URL }}{{info.picture}}"
                    alt="Placeholder image"
                    class="image-modal">
                </figure>
              </div>

              <!-- 名刺の内容 -->
              <div class="card-content">
                <div class="content">
                  <h4>{{info.user_name}}</h4>
                  <p>会社 : {{info.company_name}}</p>
                  <p>メール : {{info.mail_address}}</p>
                  <p>コメント : {{info.test_empty}}</p>
                  <div style="display: flex;justify-content: space-between;">
                    <span class="button is-primary"><a
                        href="{% url 'user_detail' info.slug %}"
                        style="color: white;">編集</a></span>
                    <span>

                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

</section>

<script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript">
  
                    function test(slug) {
                      Cookies.remove('slug')
                      Cookies.remove('check')
                      check = document.getElementById(slug).checked


                      document.cookie = "slug="+slug;
                      document.cookie = "check="+check;

                      window.location.href = "{% url 'bookmark' %}"
                    } 
          </script>

<style>
  *{
    padding: 0;
    margin: 0;
  }

  .mod-al-open{
    display: inline-block;
    background-color: #666;
    color: #fff;
    margin: 10px;
  }
  .modal-open a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }
  /*** 以下モーダル用CSS ***/
.image-width{
  /* object-fit: cover; */
  width: 100%;
}

  .modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .modal:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .modal:target{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .modal .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
  }
  .modal-wrapper{
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: 100%;
    max-height: 550px;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  .modal-contents{
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative; 
  }
  .modal-content{
    /* margin: 25px;  */
    width: 100%;
  }
  .modal-close{
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
  }
  </style>

{% endblock %}