{% extends "testapp/base.html" %}
{% block content %}

<script>let pagename = "frontpage"</script>
<section class="container">

  <div class="columns features" style="display: flex; ">
    <!-- overflow-x: scroll; -->
    {% for info in articles %}
    <a href="#modal{{info.slug}}">
      <div class="column is-4">
        <div class="card is-shady img_wrap">
          <div class="card-image">
            <figure class="image is-4by3 ">
              <img src="{{ MEDIA_URL }}{{info.picture}}" alt="Placeholder image">
            </figure>
          </div>

          <!-- 名刺の内容 -->
          <div class="card-content">
            <div class="content">
              <h4>{{info.user_name}}</h4>
              <p>会社 : {{info.company_name}}</p>
              <p>メール : {{info.mail_address}}</p>
              <p>コメント : {{info.test_empty}}</p>
              <div style="display: flex;justify-content: space-between;">

                <a href="{% url 'user_detail' info.slug %}"></a>

                <span>
                  <label class="checkbox" style="margin-top: 13px;">
                    <input id="{{info.slug}}" type="checkbox" style="accent-color: #f00;"
                      onclick="test('{{info.slug}}', pagename);">
                    お気に入り
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <script>
      // DB情報→チェックボックスの更新
      checkbox = document.getElementById("{{info.slug}}");
      console.log("checkbox" + checkbox);
      flg = "{{info.test_flg}}";
      console.log("flg" + flg)
      if (flg == "True") {
        checkbox.checked = true;
      } else {
        checkbox.checked = false;
      }
    </script>

    <!-- モーダルの中身 -->
    <div id="{{info.user_name}}">
      <div class="modal" id="modal{{info.slug}}">
        <a href="#!" class="overlay"></a>
        <div class="modal-wrapper">
          <div class="modal-contents">
            <a href="#!" class="modal-close">✕</a>
            <div class="modal-content">
              <div class="card-image image-width">
                <figure class="image is-4by3">
                  <img src="{{ MEDIA_URL }}{{info.picture}}" alt="Placeholder image" class="image-modal">
                </figure>
              </div>
              <!-- 名刺の内容 -->
              <div class="card-content">
                <div class="content">
                  <h4>{{info.user_name}}</h4>
                  <p>会社 : {{info.company_name}}</p>
                  <p>メール : {{info.mail_address}}</p>
                  <p>コメント : {{info.test_empty}}</p>
                  <div style="display: flex;justify-content: space-between;">
                    <span class="button is-primary"><a href="{% url 'user_detail' info.slug %}"
                        style="color: white;">編集</a></span>
                    <span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="paginator">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if articles.has_previous %}
      <a class="pagination-previous" href="?p={{ articles.previous_page_number }}">Previous</a>
      {% endif %}
      {% if articles.has_next %}
      <a class="pagination-next" href="?p={{ articles.next_page_number }}">Next</a>
      {% endif %}
      <ul class="pagination-list">
        {% if articles.has_previous %}
        {% if articles.previous_page_number != 1 %}
        <li><a class="pagination-link" href="?p=1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
        <li><a class="pagination-link"
            href="?p={{ articles.previous_page_number }}">{{articles.previous_page_number}}</a></li>
        {% endif %}
        <li><a class="pagination-link is-current" href="?p={{ articles.number }}">{{articles.number}}</a></li>
        {% if articles.has_next %}
        <li><a class="pagination-link" href="?p={{ articles.next_page_number }}">{{articles.next_page_number}}</a>
        </li>
        {% if articles.next_page_number != articles.paginator.num_pages %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" href="?p={{ articles.paginator.num_pages }}">{{articles.paginator.num_pages}}</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>
  </div>



</section>
<script>
  function test(slug, currentPage) {
    Cookies.remove('slug');
    Cookies.remove('check');

    check = document.getElementById(slug).checked;

    document.cookie = "slug=" + slug + ";path=" + "/bookmark";
    document.cookie = "check=" + check + ";path=" + "/bookmark";
    document.cookie = "page=" + currentPage + ";path=" + "/bookmark";

    console.log("slug=" + slug);
    console.log("check=" + check);

    window.location.href = "{% url 'bookmark' %}";
  } 
</script>
{% endblock %}