{% extends "testapp/base.html" %}
{% block content %}


<section class="container"
  style="display: flex; justify-content: space-between;">

  <!-- 画面左側 -->
  <div class="column is-half">
    <!-- 画像 -->
    <div class="card is-shady">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://images.unsplash.com/photo-1515555230216-82228b88ea98?auto=format&amp;fit=crop&amp;w=900&amp;q=60"
            alt="Placeholder image" class="modal-button"
            data-target="modal-image2">
        </figure>
      </div>
    </div>
    <!-- 画像アップロード -->
    <section class="container">
      <div class="card is-shady" style="margin-top: 20px; height: 85px;">
        <div class="column">
          <form action="." method="post"enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
              <div class="file is-boxed is-centered">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-label">
                      Upload your image here
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <!-- 画面右側 -->
  <div class="column is-half">
    <div class="card is-shady">
      <div class="card-content">
        <!-- FORM:Update -->
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input id="user_name" name="user_name" class="input" type="text"
                placeholder="{{userdetail.user_name}}"
                value="{{userdetail.user_name}}">
            </div>
          </div>

          <div class="field">
            <label class="label">Company</label>
            <div class="control">
              <input id="company_name" name="company_name" class="input"
                type="text" placeholder="{{userdetail.company_name}}"
                value="{{userdetail.company_name}}">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input id="mail_address" name="mail_address" class="input"
                type="email" placeholder="{{userdetail.mail_address}}"
                value="{{userdetail.mail_address}}">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <input id="password" name="password" class="input" type="password"
              placeholder="{{userdetail.password}}"
              value="{{userdetail.password}}">
          </div>
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea id="test_empty" name="test_empty" class="textarea"
                placeholder="{{userdetail.test_empty}}"
                value="{{userdetail.test_empty}}"></textarea>
            </div>
          </div>

          <input type="hidden" id="slug" name="slug" value="{{userdetail.slug}}" />

          <div class="container" style="z-index: 2; text-align: left;">
            <div class="control   " style="float: left; ">
              <button type="submit" name="Update" class="button is-primary">Update</button>
            </div>
          </div>

        </form>
        <!-- FORM:delete_info -->
        <form action="{% url 'delete_info' %}" method="post"
          style="margin-bottom: -40px;">
          {% csrf_token %}
          <div class="control" style="text-align:right; top: -40px; z-index: 1;">
            <button type="submit" name="Delete" class="button is-danger">Delete</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

  <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
    integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
    crossorigin="anonymous"></script>

  {% endblock %}